.button {
  border-radius: 8px;
  border: var(--borderWidth) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--backgroundElementColor);
  cursor: pointer;
  transition: var(--transition);
  min-width: 165px;
  color: var(--textColor);
}

.button:hover {
  border-color: var(--accentColor);
}

.button[disabled]:hover {
  border-color: transparent;
  cursor: not-allowed;
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button.button-glow:not([disabled]):not(:hover) {
  box-shadow: 0 0 5px 2px var(--accentShadowColor);
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  transition: var(--transition);
}

.loader:after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 0 none var(--textColor);
  border-bottom: 2px solid var(--textColor);
  animation: loader 1.5s linear infinite;
  transition: var(--transition);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
