.button {
  min-width: 165px;
  color: rgba(255, 255, 255, 0.87);
}

.form {
  max-width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.formLabel {
  display: flex;
  justify-content: center;
}

.input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: var(--transition);
}
.input:hover {
  border-color: #646cff;
}
.input[disabled]:hover {
  border-color: transparent;
  cursor: not-allowed;
}
.input:focus {
  border-color: #646cff;
  outline: none;
}
