.button {
  min-width: 165px;
  color: rgba(255, 255, 255, 0.87);
}

.form {
  max-width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.formLabel {
  display: flex;
  justify-content: center;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0;
  transition: var(--transition);
}

.loader:after {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.5s linear infinite;
  transition: var(--transition);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
