.dropdown-container {
  text-align: left;
  position: relative;
  transition: var(--transition);
}

.dropdown-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-tool {
  max-height: 20px;
  transform: all 0.2s var(--easing);
}
.dropdown-tool.open {
  transform: rotateX(180deg);
}

.dropdown-menu {
  position: absolute;
  transform: translateY(8px) translateX(-16px);
  width: 100%;
  border-radius: 8px;
  overflow: auto;
  max-height: 150px;
  background-color: var(--backgroundElementColor);
  z-index: 99;
  text-align: center;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--backgroundColorHover);
}

.dropdown-item.selected {
  background-color: var(--accentShadowColor);
}
