body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background-color: var(--backgroundColor);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  transition: var(--transition);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;

  /* Variables */

  /* Dark scheme colors */
  --textColor: rgba(255, 255, 255, 0.87);
  --accentColor: rgba(100, 108, 255, 1);
  --accentShadowColor: rgba(100, 108, 255, 0.5);
  --backgroundColor: rgba(36, 36, 36, 1);
  --backgroundElementColor: rgba(26, 26, 26, 1);
  --backgroundColorHover: rgba(159, 195, 248, 0.44);

  /* Animation */
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  /* Other */
  --borderWidth: 1px;
}

a {
  font-weight: 500;
  color: var(--accentColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--accentColor);
}

p {
  margin: 0;
  padding: 0;
}

/* Light scheme colors */
@media (prefers-color-scheme: light) {
  :root {
    --backgroundColor: #efefe9;
    --backgroundElementColor: rgba(190, 190, 190, 0.75);
    --backgroundColorHover: rgba(55, 170, 215, 0.35);
    --accentColor: #37aad7;
    --accentShadowColor: #70c3e3;
    --textColor: #2a3342;

    --borderWidth: 2px;
  }
}
